[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[requires]

python_version = "3.6"


[packages]

django = "*"
wagtail = "*"
django-environ = "*"
django-inline-svg = "*"
"psycopg2-binary" = "*"
uwsgi = "*"
whitenoise = "*"


[dev-packages]

"flake8" = "*"
SQLAlchemy = "==1.2.5"
SQLAlchemy-Utils = "==0.33.1"
honcho = "*"
ipdb = "*"
ipython = "*"
stellar = "==0.4.5"
