$ms-base: 16px;
$ms-ratio: $fourth;

$breakpoints: (
  desktop: 768px,
);

$typi: (
  base: (
    null: (ms(0), 1.5),
    desktop: (ms(0, 18px), 1.5)
  ),
  h1: (
    null: (ms(4), 1.1),
    desktop: (ms(4, 18px), 1.1)
  ),
  h2: (
    null: (ms(3), 1.1),
    desktop: (ms(3, 18px), 1.1)
  ),
  h3: (
    null: (ms(2), 1.1),
    desktop: (ms(2, 18px), 1.1)
  ),
  h4: (
    null: (ms(1), 1.1),
    desktop: (ms(1, 18px), 1.1)
  ),
  p: (
    null: (ms(0), 1.5),
    desktop: (ms(0, 18px), 1.5)
  ),
  small: (
    null: (ms(-1)),
    desktop: (ms(-1, 18px))
  ),
);

$typi-breakpoint: breakpoint;

$regular: 400;
$bold: 700;
