// Modular scale
$ms-base: 1em;
$ms-ratio: $fourth;

// Typi maps
$breakpoints: (
  surfsup: 640px,
);

$typi: (
  null: (16px, 1.5),
  surfsup: 18px,
);

$h1-map: (
  null: (ms(3), 1.25),
);

$h2-map: (
  null: (ms(2), 1.25),
);

$h3-map: (
  null: (ms(1), 1.25),
);

$h4-map: (
  null: (ms(0), 1.25),
);


// Base type
html {
  @include typi-base;
}

// Headings
h1, h2, h3, h4 {
  margin: 0 0 vr(0.5);
}

h1 {
  @include typi($h1-map);

  margin: 0 0 vr(0.5);
}

h2 {
  @include typi($h2-map);
}

h3 {
  @include typi($h3-map);
}

h4 {
  @include typi($h4-map);
}

// Paragraphs
p {
  margin: 0 0 vr(1);
}
